swagger: "2.0"
info:
  title: Crestron FTP Microservice
  description: Send files over FTP to Crestron boxes
  version: "0.1"
# host: api.byu.edu
host: avmetrics1.byu.edu:8002
schemes:
  - http
# basePath: "/v0.1"
produces:
  - application/json
paths:
  /health:
    get:
      summary: Check Service Health
      description: |
        Returns information about all the FTP microservice's health.
      tags:
        - Rooms
      responses:
        200:
          description: An array of rooms
          schema:
            type: array
            items:
              $ref: "#/definitions/RoomResponse"
        401:
          $ref: "#/responses/401"
        500:
          $ref: "#/responses/500"
        503:
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/default"
  /send:
    post:
      summary: Send a File
      description: |
        Make a new room and add it to the Crestron Fusion database.
      parameters:
        - name: body
          description: The new room to created
          in: body
          required: true
          schema:
            $ref: "#/definitions/RoomRequest"
      tags:
        - Rooms
      responses:
        201:
          description: All went well
          schema:
            $ref: "#/definitions/RoomResponse"
        401:
          $ref: "#/responses/401"
        500:
          $ref: "#/responses/500"
        503:
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/default"

definitions:
  HATEOAS:
    type: object
    properties:
      rel:
        type: string
        description: A human-readable name for what the link represents
      href:
        type: string
        description: The link to the endpoint
  DNS:
    type: object
    properties:
      address:
        type: string
        description: The IP address of a DNS server
  Room:
    type: object
    properties:
      links:
        type: array
        items:
          $ref: "#/definitions/HATEOAS"
      name:
        type: string
        description: The human-readable name of the room
      ID:
        type: string
        description: The GUID of the room
      roomID:
        type: string
        description: The room number
      description:
        type: string
        description: A human-readable description of the room
      address:
        type: string
        description: The IP address of the processor
      signals:
        type: array
        description: The available signals attached to this processor
        items:
          $ref: "#/definitions/SignalRequest"
      available:
        type: boolean
        description: |
          Whether or not the room is currently available (calculated based on
          campus room scheduling and whether or not the room"s processor
          reports as in-use)
  RoomResponse:
    type: object
    properties:
      links:
        type: array
        items:
          $ref: "#/definitions/HATEOAS"
      rooms:
        type: array
        items:
          $ref: "#/definitions/Room"
  RoomRequest:
    type: object
    properties:
      name:
        type: string
        description: The human-readable name of the room
      roomID:
        type: string
        description: The room number
      description:
        type: string
        description: A human-readable description of the room
  Device:
    type: object
    properties:
      links:
        type: array
        items:
          $ref: "#/definitions/HATEOAS"
      hostname:
        type: string
        description: The hostname of the device
      description:
        type: string
        description: A human-readable description of the device
      room:
        type: object
        description: Information about the room containing the device
        $ref: "#/definitions/Room"
      address:
        type: string
        description: The IP address of the processor
      subnet:
        type: string
        description: The IP subnet mask of the device
      gateway:
        type: string
        description: The device's default gateway
      serial:
        type: string
        description: The serial number of the device
      MAC:
        type: string
        description: The MAC address of the device
      DNS:
        type: array
        description: The DNS servers declared for the device
        items:
          $ref: "#/definitions/DNS"
  DeviceResponse:
    type: object
    properties:
      links:
        type: array
        items:
          $ref: "#/definitions/HATEOAS"
      device:
        $ref: "#/definitions/Device"
  Building:
    type: object
    properties:
      links:
        type: array
        items:
          $ref: "#/definitions/HATEOAS"
      name:
        type: string
        description: The human-readable name of the building
      ID:
        type: string
        description: The GUID of the building
      shortname:
        type: string
        description: The building shortname
      description:
        type: string
        description: A human-readable description of the building
  BuildingResponse:
    type: object
    properties:
      links:
        type: array
        items:
          $ref: "#/definitions/HATEOAS"
      buildings:
        type: array
        items:
          $ref: "#/definitions/Building"
  BuildingRequest:
    type: object
    properties:
      name:
        type: string
        description: The human-readable name of the room
      roomID:
        type: string
        description: The room number
      description:
        type: string
        description: A human-readable description of the room
  Signal:
    type: object
    properties:
      name:
        type: string
        description: The human-readable name of the signal
      ID:
        type: string
        description: The GUID of the signal
      type:
        type: integer
        description: Crestron-defined signal type
      modified:
        type: string
        description: The date this signal was last modified
  SignalResponse:
    type: object
    properties:
      links:
        type: array
        items:
          $ref: "#/definitions/HATEOAS"
      signals:
        type: array
        items:
          $ref: "#/definitions/Signal"
  SignalRequest:
    type: object
    properties:
      name:
        type: string
        description: The human-readable name of the signal
      type:
        type: integer
        description: Crestron-defined signal type
  Error:
    type: object
    properties:
      message:
        type: string
parameters:
  building:
    name: building
    in: path
    description: Building shortname
    required: true
    type: string
  room:
    name: room
    in: path
    description: Room name
    required: true
    type: string
  hostname:
    name: hostname
    in: path
    description: Device hostname
    required: true
    type: string
  signal:
    name: signal
    in: path
    description: Signal ID
    required: true
    type: string
responses:
  401:
    description: You are not authorized to make that request
    schema:
      $ref: "#/definitions/Error"
  500:
    description: There was a problem with the server on our end
    schema:
      $ref: "#/definitions/Error"
  503:
    description: The server is overloaded, is under maintenance, or is otherwise unavailable
    schema:
      $ref: "#/definitions/Error"
  default:
    description: Unexpected error
    schema:
      $ref: "#/definitions/Error"
